<!DOCTYPE HTML>

<html>
	<head>
		<title>Main Page</title>
		<meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="../">Video Upload Page</a></li>
							<li><a href="../search" style="color: #ffffff;">Search Videos</a></li>
							<li><a href="../uploads">All Uploads</a></li>
							<li><a href="../sql_classic">SQL (Classic Injection)</a></li>
							<li><a href="../sql_blind">SQL (Blind Injection)</a></li>
							<li><a href="../sql_add_tmp">SQL (Add Temp User)</a></li>
							<li><a href="../logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							{% if output %}
							<p class=output><strong>Console:</strong> {{ output }}
							{% endif %}
							<form method="post" action="/search">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="search_item" id="search_item" value="" placeholder="Search For Video Based on Name" />
									<br>
										<input type="submit" name= "Button" value="search" id="search" class="primary" />
									</div>
								</div>
							</form>
							{% if files is defined %}
							{% for user in files %}
							<a href="./uploads/{{user}}"><h3>{{ user }}</h3>
								<table>
									<thead>
									<tr>
										<th>Video Name</th>
										<th>URL</th>
									</tr>
									</thead>
									<tbody>
										{% for video in files[user] %}
											<tr>
												<td>{{video['name']}}</td>
												<td>{{video['url']}}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</a>
							{% endfor %}
							{% endif %}
						</div>
					</section>

			</div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>
